venv/
.idea/
__pycache__/
/staticfiles/
node_modules/
/project/templates/cache
/media/*
/temp/

*.py[cod]
*$py.class
.DS_Store
/project/project/_production_settings.py
npm-debug.log
dump.json
db.sqlite3

algorithms/**/*.js
algorithms/**/*.css
algorithms/**/*.map
