venv/
.idea/
__pycache__/
/static/
node_modules/
/project/templates/cache
/media/*
dist/

*.py[cod]
*$py.class
.DS_Store
/project/project/_production_settings.py
npm-debug.log

algorithms/**/*.js
*.css
*.map
