.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin-bottom: 4px;
  padding: 0.3rem 0.6rem;
  font-size: 0.7rem;
  cursor: pointer;
  border-radius: 4px;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
  background: #666;
  color: #fff;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
  display: block;
}