textarea {
  font-family: Monaco, Menlo, Courier, Courier New, Andale Mono;
  width: 40% !important;
  min-height: 400px;
}

textarea + iframe {
  width: 40% !important;
  min-height: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

textarea[name="text_ru"],
textarea[name="text_ru"] + iframe {
  height: 95vh;
  padding: 10px;
  box-sizing: border-box;
}