.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background: #f8f9fa;
  padding: 0.8rem 1rem 1rem 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.tabbed-set .tabbed-content > *:last-child {
  margin-bottom: 0!important;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
  display: block;
}