@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "_markdown-fenced-code-tabs";

html {
  font-size: 14px;
}

pre {
  margin-bottom: 0;
}

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-pre {
  white-space: pre;
}

.lh-1 {
  line-height: 1!important;
}

.breadcrumb {
  padding: 0.45rem 1rem;
}

// Fix icon in the group
.btn-group button {
  line-height: 1;
}

/**
 * Custom scroll
 */
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eee;
}

div:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

div::-webkit-scrollbar-track {
  border-radius: 0;
}

div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}

*.invisible-scrollbar {
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

/**
 * Triptych
 */
.triptych {
  &_single {

  }

  .playground-container {
    & > * {
      box-shadow: 0 0 7px 0 #ccc inset;
      background: #f9f9f9;
      border-radius: 4px;
    }
  }

  .implementation-container {
    & > * {
      box-shadow: 0 0 4px #ccc;
      background: #f9f9f9;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  &_multiple {
    display: flex;
    height: calc(100vh - 49px);
    & > *:first-child {
      overflow-y: auto;
      height: 100%;
    }
    & > * {
      width: 33.333% !important;
      flex-grow: 1;
      overflow: hidden;
    }
  }

  & > *:first-child {
    h2 {
      font-size: 1.4rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      color: purple;
      padding-top: 10px;
    }
    h3 {
      font-size: 1.1rem;
    }
  }
}

text {
  user-select: none;
}

.monospace {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  white-space: pre;
  br {
    display: none;
  }
}

.text-monospace {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  white-space: pre;
}

.codehilitetable {
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;
  .linenodiv {
    pre {
      color: #888;
    }
  }
  td.code {
    width: 100%;
  }
  .codehilite {

  }
}

.md-fenced-code-tabs {
  padding: 10px;
  box-shadow: 0 0 4px #ccc;
  margin-bottom: 15px;
  border-radius: 4px;
  .tab-content {
    padding: 10px;
    background: rgb(248, 248, 248);
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .nav-link.active {
    background: rgb(248, 248, 248);
    border-bottom-color: rgb(248, 248, 248);
  }
}

.navbar {
  border-bottom: 1px solid #eee;
  background: #fff;
}

.jumbotron {
  background: no-repeat url(/static/i/t.jpg) right / auto 110%;
  box-shadow: 0 1px 10px #ccc;
  .container {
    width: 75%;
    margin: 0;
  }
}