@import "./bootstrap";
@import "./_markdown-tabbed.css";
@import "./_markdown-codehilite.css";

/**
 * Reset
 */

pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

.breadcrumb {
  padding: 0.45rem 1rem;
}

// Fix icon in the group
.btn-group button {
  line-height: 1;
}

text {
  user-select: none;
}

pre {
  margin-bottom: 0;
}

/**
 * Additional text utils
 */

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-16 {
  font-size: 16px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-22 {
  font-size: 22px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-pre {
  white-space: pre;
}

.lh-1 {
  line-height: 1!important;
}


//.monospace {
//  font-family: "Sans Mono", "Consolas", "Courier", monospace;
//  white-space: pre;
//  br {
//    display: none;
//  }
//}

//.text-monospace {
//  font-family: "Sans Mono", "Consolas", "Courier", monospace;
//  white-space: pre;
//}

/**
 * Custom scroll
 */
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eee;
}

div:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

div::-webkit-scrollbar-track {
  border-radius: 0;
}

div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}

*.invisible-scrollbar {
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

/**
 * Triptych
 */
.triptych {
  &_single {

  }

  .text-container {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    .text-block {
      hr {
        border-style: dashed;
      }
    }
  }

  .playground-container {
    & > * {
      box-shadow: 0 0 7px 0 #ccc inset;
      background: #f9f9f9;
      border-radius: 4px;
    }
  }

  .implementation-container {
    & > * {
      box-shadow: 0 0 4px #ccc;
      background: #f9f9f9;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  &_multiple {
    display: flex;
    height: calc(100vh - 49px);
    & > *:first-child {
      overflow-y: auto;
      height: 100%;
    }
    & > * {
      width: 33.333% !important;
      flex-grow: 1;
      overflow: hidden;
    }
  }

  & > *:first-child {
    h2 {
      font-size: 1.5rem;
      // border-bottom: 2px solid var(--pink);
      padding-bottom: 4px;
      color: #202124;
      padding-top: 10px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(to right, var(--pink), var(--primary), var(--warning), var(--success));
      }
    }
    h3 {
      font-size: 1.25rem;
      color: #202124;
    }
  }
}

/**
 *  Code highlight
 */

.codehilitetable {
  background: #fafafa;
  border: 1px solid #e3e3e3;
  margin-bottom: 1rem;
  .codehilite {
    margin-bottom: 0!important;
  }
  td:first-child {
    background: #f2f2f2;
    padding: 0 8px;
    border-right: 1px solid #e3e3e3;
    pre {
      color: #666;
    }
    div {
      padding: 0!important;
    }
  }
  td:last-child {
    width: 100%;
  }
}

.codehilite {
  padding: 1rem;
  background: transparent!important;
  margin-bottom: 1rem;
}

/**
 *  Other
 */

.navbar {
  border-bottom: 1px solid #eee;
  background: #fff;
}

.jumbotron {
  background: no-repeat url(/static/i/t.jpg) right / auto 110%;
  .container {
    width: 75%;
    margin: 0;
  }
}

.has-text,
.has-playground,
.has-implementation {
  background: red;
  min-width: 16px;
  height: 16px;
}

.has-text {
  background: url('/static/i/text.svg') no-repeat;
  &.active {
    background-image: url('/static/i/text-active.svg') !important;
  }
}

.has-playground {
  background: url('/static/i/puzzle.svg') no-repeat;
  &.active {
    background-image: url('/static/i/puzzle-active.svg') !important;
  }
}

.has-implementation {
  background: url('/static/i/code.svg') no-repeat;
  &.active {
    background-image: url('/static/i/code-active.svg') !important;
  }
}

a[href^="http://"]:not([href*="thecs.org"]):not([href*="localhost"]):after,
a[href^="https://"]:not([href*="thecs.org"]):not([href*="localhost"]):after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

.toc {
  background-color: #e6f4ea;
  border-radius: 8px;
  padding: 2rem 4rem;
  margin-bottom: 1rem;
  ul {
    margin: 0;
    padding: 0;
  }
}