@import "./_bootstrap";

/**
 * Reset
 */

.breadcrumb {
  padding: 0.45rem 1rem;
}

mark {
  background-color: yellow!important;
  color: black!important;
}

// Fix icon in the group
.btn-group button {
  line-height: 1;
}

text {
  user-select: none;
}

pre {
  margin-bottom: 0;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/**
 * Additional utils
 */

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-16 {
  font-size: 16px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-22 {
  font-size: 22px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-pre {
  white-space: pre;
}

.lh-1 {
  line-height: 1!important;
}

.cursor-pointer {
  cursor: pointer;
}

/**
 * Custom scroll
 */
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eee;
}

div:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

div::-webkit-scrollbar-track {
  border-radius: 0;
}

div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}

*.invisible-scrollbar {
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

/**
 * Triptych
 */
.multiple {
  // height: calc(100vh - 57px);
  .btn-group > * {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

}

.jumper {
  width: 0;
  opacity: 0;
  transition: all 150ms;
}

.article-header {
  position: sticky;
  top: -1px;
  z-index: 1;
  transition: padding 250ms;
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255,255,255,0.8);
  &_sticky {
    border-bottom: 1px solid #eee;
  }
}

.implementation-container,
.playground-container {
  position: sticky;
  top: 73px;
}

.triptych {
  .text-container {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    .text-block {
      hr {
        border-style: dashed;
      }
    }
    h2 {
      font-size: 1.5rem;
      padding-bottom: 4px;
      color: #202124;
      padding-top: 10px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(to right, var(--pink), var(--primary));
      }
    }
    h3 {
      font-size: 1.25rem;
      color: #202124;
    }
  }

  .playground-container {
    & > * {
      box-shadow: 0 0 7px 0 #ccc inset;
      background: #f9f9f9;
      border-radius: 4px;
    }
  }

  .implementation-container {
    & > * {
      box-shadow: 0 0 4px #ccc;
      background: #f9f9f9;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  &_multiple {
    & > *:first-child {
      //overflow-y: auto;
      //height: 100%;
    }
    & > * {
      //width: 33.333% !important;
      //flex-grow: 1;
      //overflow: hidden;
    }
  }
}

/**
 *  Code highlight
 */

.codehilitetable {
  border: 1px solid #e3e3e3;
  .codehilite {
    border: 0;
    margin-bottom: 0;
  }
  td:first-child {
    background: #f2f2f2;
    padding: 0 8px;
    border-right: 1px solid #e3e3e3;
    pre {
      color: #666;
    }
    div {
      padding: 0!important;
    }
  }
  td:last-child {
    width: 100%;
    max-width: 1px;
  }
  & + * {
    margin-top: 1rem;
  }
}

.codehilite {
  padding: 1rem;
  background: #fafafa;
  border: 1px solid #e3e3e3;
  margin-bottom: 1rem;
}

/**
 *  Other
 */

header {
  border-bottom: 1px solid #eee;
  background: #f8f9fa;
}

.intro {
  background: no-repeat url(/static/i/t.jpg) right/auto 110%, url(https://developer.mozilla.org/static/img/embed/promos/grid-tools-bg.33d7e775dcb5.svg) no-repeat left bottom / 40%;
  @include media-breakpoint-down(md) {
    background-size: 0 0, 40% auto;
  }
}

.has-text,
.has-playground,
.has-implementation {
  background: red;
  min-width: 16px;
  height: 16px;
}

.has-text {
  background: url('/static/i/text.svg') no-repeat;
  &.active {
    background-image: url('/static/i/text-active.svg') !important;
  }
}

.has-playground {
  background: url('/static/i/puzzle.svg') no-repeat;
  &.active {
    background-image: url('/static/i/puzzle-active.svg') !important;
  }
}

.has-implementation {
  background: url('/static/i/code.svg') no-repeat;
  &.active {
    background-image: url('/static/i/code-active.svg') !important;
  }
}

a[href^="http://"]:not([href*="thecs.org"]):not([href*="localhost"]):after,
a[href^="https://"]:not([href*="thecs.org"]):not([href*="localhost"]):after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

.toc-sticky {
  padding: 2rem;
  position: sticky;
  background: #f6f6f6;
  top: 80px;
  border-radius: 4px;
  & > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul ul {
    margin-top: 16px;
  }
  li {
    margin-bottom: 15px;
    line-height: 1.1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    font-size: .9rem;
    color: #555;
  }
}

.alert {
  &:before {
    content: '';
    display: block;
    left: 0;
    top: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
  }
  &-info:before {
    background-image: url("data:image/svg+xml,%3Csvg width='1.4em' height='1.4em' viewBox='0 0 16 16' class='bi bi-info-circle-fill' fill='steelblue' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
  }
  &-warning:before {
    background-image: url("data:image/svg+xml,%3Csvg width='1.3176em' height='1.4em' viewBox='0 0 17 16' class='bi bi-exclamation-triangle-fill' fill='darkorange' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z'/%3E%3C/svg%3E");
  }
  &-danger:before {
    background-image: url("data:image/svg+xml,%3Csvg width='1.4em' height='1.4em' viewBox='0 0 16 16' class='bi bi-exclamation-octagon-fill' fill='crimson' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z'/%3E%3C/svg%3E");
  }
}

.stdout {
  background: #333;
  padding: 4px;
  color: #fff;
  position: relative;
  line-height: 1.1;
  font-size: 0.9rem;
  min-height: 200px;
  code {
    white-space: pre;
    color: #fff;
  }
  &:before {
    content: attr(title-prefix) " Output " attr(title-postfix);
    display: block;
    padding: 5px;
    background: #eee;
    margin: -4px -4px 2px -4px;
    color: #333;
  }
  &:after {
    content: "Program ended with exit code: 0";
    font-family: $font-family-monospace;
    font-size: 87.5%;
  }
}