$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 990px
) !default;

$font-size-base:  1rem;
$h1-font-size:    $font-size-base * 2.0;

@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "_markdown-fenced-code-tabs";

/**
 * Reset
 */

pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

.breadcrumb {
  padding: 0.45rem 1rem;
}

// Fix icon in the group
.btn-group button {
  line-height: 1;
}

.alert {
  font-size: $font-size-base - .1;
}

text {
  user-select: none;
}

pre {
  margin-bottom: 0;
}

/**
 * Text utils
 */

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-16 {
  font-size: 16px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-22 {
  font-size: 22px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-pre {
  white-space: pre;
}

.lh-1 {
  line-height: 1!important;
}


//.monospace {
//  font-family: "Sans Mono", "Consolas", "Courier", monospace;
//  white-space: pre;
//  br {
//    display: none;
//  }
//}

//.text-monospace {
//  font-family: "Sans Mono", "Consolas", "Courier", monospace;
//  white-space: pre;
//}

/**
 * Custom scroll
 */
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eee;
}

div:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

div::-webkit-scrollbar-track {
  border-radius: 0;
}

div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}

*.invisible-scrollbar {
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

/**
 * Triptych
 */
.triptych {
  &_single {

  }

  .text-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .playground-container {
    & > * {
      box-shadow: 0 0 7px 0 #ccc inset;
      background: #f9f9f9;
      border-radius: 4px;
    }
  }

  .implementation-container {
    & > * {
      box-shadow: 0 0 4px #ccc;
      background: #f9f9f9;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  &_multiple {
    display: flex;
    height: calc(100vh - 49px);
    & > *:first-child {
      overflow-y: auto;
      height: 100%;
    }
    & > * {
      width: 33.333% !important;
      flex-grow: 1;
      overflow: hidden;
    }
  }

  & > *:first-child {
    h2 {
      font-size: 1.4rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      color: purple;
      padding-top: 10px;
    }
    h3 {
      font-size: 1.1rem;
    }
  }
}

/**
 *  Code highlight
 */

.codehilitetable {
  background: #fafafa;
  border: 1px solid #e3e3e3;
  td:first-child {
    background: #f2f2f2;
    padding: 0 8px;
    border-right: 1px solid #e3e3e3;
    pre {
      color: #666;
    }
    div {
      padding: 0!important;
    }
  }
  td:last-child {
    width: 100%;
  }
}

.codehilite {
  padding: 1rem;
  background: transparent!important;
}

.md-fenced-code-tabs {
  padding: 0;
  margin-bottom: 15px;
  .codehilite {
    border-top: none;
  }
  .tab-content {
    background: rgb(248, 248, 248);
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .nav-link.active {
    background: rgb(248, 248, 248);
    border-bottom-color: rgb(248, 248, 248);
    border-radius: 0;
  }
}

/**
 *  Other
 */

.navbar {
  border-bottom: 1px solid #eee;
  background: #fff;
}

.jumbotron {
  background: no-repeat url(/static/i/t.jpg) right / auto 110%;
  .container {
    width: 75%;
    margin: 0;
  }
}

.has-text,
.has-playground,
.has-implementation {
  background: red;
  min-width: 16px;
  height: 16px;
}

.has-text {
  background: url('/static/i/text.svg') no-repeat;
  &.active {
    background-image: url('/static/i/text-active.svg') !important;
  }
}

.has-playground {
  background: url('/static/i/puzzle.svg') no-repeat;
  &.active {
    background-image: url('/static/i/puzzle-active.svg') !important;
  }
}

.has-implementation {
  background: url('/static/i/code.svg') no-repeat;
  &.active {
    background-image: url('/static/i/code-active.svg') !important;
  }
}

a[href^="http://"]:not([href*="thecs.org"]):not([href*="localhost"]):after,
a[href^="https://"]:not([href*="thecs.org"]):not([href*="localhost"]):after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}