{% extends "star_ratings/widget_base.html" %}
{% load i18n %}

{% block rating_container %}
<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{{ rating.average }}">
  <div class="star-ratings-rating-average text-22 font-weight-bold pb-2 lh-1">
    <span class="star-ratings-rating-value">{{ rating.average|floatformat:2 }}</span>
  </div>

  {% block rating_stars %}
    {{block.super}}
  {% endblock %}

  <div class="star-ratings-rating-count text-secondary text-14 lh-1">
    based on
    <span class='star-ratings-rating-value'>{{ rating.count }}</span>
    ratings
  </div>
</div>
{% endblock rating_container %}