// @import "~bootstrap/scss/bootstrap";

button {
  // line-height: 1!important;
}

.text-12 {
  font-size: 12px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-24 {
  font-size: 24px !important;
}

.lh-1 {
  line-height: 1!important;
}

.breadcrumb {
  padding: 0.45rem 1rem;
}

// Fix icon in the group
.btn-group button {
  line-height: 1;
}

/* Let's get this party started */
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #eee;
  -webkit-border-radius: 10px;
  border-radius: 0px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 1px;
  background: #ccc;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

*.invisible-scrollbar {
  *::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
}

pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

.navbar {
  box-shadow: 0 0px 3px 0px #666;
}

/**
 * Triptych
 */
.triptych {
  display: flex;
  height: calc(100vh - 56px);
  & > * {
    width: 33.333% !important;
    flex-grow: 1;
    overflow: hidden;
  }
  & > *:not(:first-child) {

  }
  & > *:nth-child(1) {
    h2 {
      font-size: 20px;
    }
  }
  & > *:nth-child(2) {
    background: #f9f9f9;
    height: 100%;
  }
}

text {
  user-select: none;
}

.monospace {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  white-space: pre;
  br {
    display: none;
  }
}
