@import "../node_modules/bootstrap/scss/bootstrap";
// @import "_markdown-fenced-code-tabs";

html {
  font-size: 14px;
}

pre {
  margin-bottom: 0;
}

.text-12 {
  font-size: 12px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-24 {
  font-size: 24px !important;
}

.lh-1 {
  line-height: 1!important;
}

.breadcrumb {
  padding: 0.45rem 1rem;
}

// Fix icon in the group
.btn-group button {
  line-height: 1;
}

/* Let's get this party started */
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #eee;
  -webkit-border-radius: 10px;
  border-radius: 0px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 1px;
  background: #ccc;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

*.invisible-scrollbar {
  *::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
}

pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

.navbar {
  box-shadow: 0 0px 3px 0px #666;
}

/**
 * Triptych
 */
.triptych {
  &_single {

  }

  &_multiple {
    display: flex;
    height: calc(100vh - 56px);
    & > *:first-child {
      overflow-y: auto;
      height: 100%;
    }
    & > * {
      width: 33.333% !important;
      flex-grow: 1;
      overflow: hidden;
    }
  }

  & > *:first-child {
    h2 {
      font-size: 1.4rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      color: purple;
      padding-top: 10px;
    }
    h3 {
      font-size: 1.1rem;
    }
  }

  & > *:nth-child(2) {
    background: #f9f9f9;
    height: 100%;
  }
}

text {
  user-select: none;
}

.monospace {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  white-space: pre;
  br {
    display: none;
  }
}

.text-monospace {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  white-space: pre;
}

.codehilitetable {
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;
  .linenodiv {
    pre {
      color: #888;
    }
  }
  td.code {
    width: 100%;
  }
  .codehilite {

  }
}

.md-fenced-code-tabs {
  padding: 10px;
  box-shadow: 0 0 4px #ccc;
  margin-bottom: 15px;
  border-radius: 4px;
  .tab-content {
    padding: 10px;
    background: rgb(248, 248, 248);
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .nav-link.active {
    background: rgb(248, 248, 248);
    border-bottom-color: rgb(248, 248, 248);
  }
}
