{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block description %}{% endblock %}">
  <title>{% block title %}{% endblock %} - TheCS</title>
  {% if YANDEX_METRIKA_ID %}{% include 'metrika.html' %}{% endif %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown-tabbed.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown-codehilite.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  {% endcompress %}
  {% block css %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">

  {% include 'header.html' %}

  <main class="flex-shrink-0">
    {% block content %}{% endblock %}
  </main>

  <div style="min-height: 48px"></div>

  {% include 'footer.html' %}

  {% compress js %}
    <!-- Bootstrap -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Vue -->
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>

    <!-- Axios -->
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script>Vue.prototype.$http = axios;</script>

    <!-- SVG.js -->
    <script src="{% static '@svgdotjs/svg.js/dist/svg.min.js' %}"></script>

  <!-- Clipboard.js -->
    <script src="{% static 'clipboard/dist/clipboard.min.js' %}"></script>

    <!-- Global js -->
    <script src="{% static 'js/global.js' %}"></script>

    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  {% endcompress %}

  {% block js %}{% endblock %}

  <script>
      $('[data-toggle="popover"]').popover();
      $('[data-toggle="tooltip"]').tooltip({ boundary: 'window', trigger : 'hover' });
  </script>

</body>
</html>
