{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load filters %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/algorithm.css' %}">
  <link rel="stylesheet" href="{% static 'highlight.js/styles/agate.css' %}">
{% endblock %}

{% block js %}
  {% if algorithm.implementations %}
    <script src="{% static 'code-viewer.umd.min.js' %}"></script>
    <script>Vue.component('code-viewer', CodeViewer)</script>
  {% endif %}

  {% if algorithm.playground %}
    <script src="{% static '@svgdotjs/svg.js/dist/svg.min.js' %}"></script>
    <script src="{% static algorithm.playground|add:'.umd.min.js' %}"></script>
    <script>Vue.component('{{algorithm.playground}}', {{algorithm.get_playground_display}})</script>
  {% endif %}

  <script>var app = new Vue({}).$mount('.triptych')</script>
  <script src="{% static 'js/algorithm.js' %}"></script>
{% endblock %}

{% block navbar_right_zone %}
  {% if algorithm.playground or algorithm.implementations %}
    <div id="triptych" class="btn-group shadow-sm border bg-white ml-4" role="group" aria-label="Basic example">
      <button v-on:click="hideLeft" type="button" class="btn btn-white text-primary border-right" v-bind:class="{'text-dark': leftHidden}">
        <svg class="bi bi-layout-sidebar-inset" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
          <path d="M3 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
        </svg>
      </button>
      <button {% if not algorithm.playground %}disabled{% endif %} v-on:click="hideCenter" type="button" class="btn btn-white text-primary" v-bind:class="{'text-dark': centerHidden}">
        <svg class="bi bi-layout-sidebar-inset" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
          <path d="M10 4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V4z"/>
        </svg>
      </button>
      <button {% if not algorithm.implementations %}disabled{% endif %} v-on:click="hideRight" type="button" class="btn btn-white text-primary border-right border-left" v-bind:class="{'text-dark': rightHidden}">
        <svg class="bi bi-layout-sidebar-inset-reverse" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 2h12a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h12z"/>
          <path d="M13 4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V4z"/>
        </svg>
      </button>
    </div>
  {% endif %}
{% endblock %}

{% block content %}

    <div class="triptych {% if algorithm.playground or algorithm.implementations %}triptych_multiple{% endif %}">

      <div class="p-0 container">
        <div class="d-flex align-items-center px-3 mb-2 mt-4">
          <h1 class="text-24 m-0">
            {% if algorithm.entity %}
              {{algorithm.title_en}}
            {% else %}
              {{algorithm.name}}
            {% endif %}
          </h1>

<!--          <span class="badge badge-success ml-2">{{algorithm.get_difficulty_display}}</span>-->

          {% if request.user.is_superuser %}
            <a href="{% url 'admin:algorithms_algorithm_change' algorithm.id %}"
               target="_blank"
               class="ml-2">[edit]</a>
          {% endif %}
        </div>

        {% if algorithm.text %}
          <div class="px-3">{{algorithm.text|safe}}</div>
        {% else %}
          <div class="text-center mt-5">
            {% trans "We don't have an article in your language." %}<br>
            {% trans "Help us translate it.." %}
          </div>
        {% endif %}
      </div>

      {% if algorithm.playground %}
        <div class="p-0 border-left h-100">
          <{{algorithm.playground}}>
            <div class="h-100 d-flex align-items-center justify-content-center">
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </{{algorithm.playground}}>
        </div>
      {% endif %}

      {% if algorithm.implementations %}
        <div class="border-left">
          {{ algorithm.implementations|json_script:"algorithm-implementations-data" }}
          <code-viewer>
            <div class="h-100 d-flex align-items-center justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </code-viewer>
        </div>
      {% endif %}

    </div>

{% endblock %}
