{% load i18n %}

<header>
  <nav class="navbar container navbar-expand-md navbar-light">
    <a class="navbar-brand p-0 font-weight-bold" href="/"><span class="text-danger">The</span>CS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">{% translate "Home" %} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active d-flex">
          <a class="nav-link" href="/ascii/">ASCII <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" name="set_language" action="{% url 'set_language' %}" method="post">
        <div class="form-group">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language" class="form-control form-control-sm" onchange="document.forms['set_language'].submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.code }}
            </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  </nav>
</header>