{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Algorithms & Data structures{% endblock %}

{% block content %}
<div class="container">
  <div class="intro jumbotron border mt-4 py-4 px-2">
    <div class="container ">
      <h1 class="display-4" style="font-size: 20px; font-weight: 600;"><span class="text-danger">The</span> Computer Science.</h1>
      <div class="row">
      <blockquote class="blockquote text-14 col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <p class="mb-0">
          {% blocktrans %}
          <b>TheCS.org</b> - это образовательный ресурс посвященный <b>Алгоритмам</b> и <b>Структурам
          данных</b>.
          Это важный раздел информатики (computer since) дающее фундаментальное представелние о способах
          эффективного хранения и организации данных в памяти компьютера и использованию их для решения
          самого разнообразного круга задач.
          <br>
          Тот необходимый фундамент знаний и навыков, который позволит вам открывать новые горизонты в вашей
          профессиональной деятельности.
          {% endblocktrans %}
        </p>
        <footer class="blockquote-footer text-right ml-auto">
          C уважением
          <cite title="Source Title">команда <b>TheCS</b></cite>
        </footer>
      </blockquote>
      </div>
    </div>
  </div>

  <div class="pb-4">
    <a href="{% url 'cs' 'introduction' %}">{{ introduction.title }}</a>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12 col-md-4">
      <h4 class="pb-2">{% translate "Data structures" %}</h4>
      {% for obj in data_structures %}
      <div class="row mb-3">
        <a class="col-8 text-decoration-none" href="{{ obj.get_absolute_url }}">
          <div class="lh-1">{{ obj.title_en }}</div>
          {% if not LANGUAGE_CODE == 'en' %}
          <div class="text-12 text-secondary">
            {{ obj.title_ru }}
          </div>
          {% endif %}
        </a>
        <div class="col-4 d-flex justify-content-end">
          <div class="has-text rounded {% if obj.has_text %}active{% endif %}"></div>
          <div class="has-playground rounded ml-1 {% if obj.has_playground %}active{% endif %}"></div>
          <div class="has-implementation rounded ml-1 {% if obj.has_implementation %}active{% endif %}"></div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-sm-12 col-md-4 border-left border-right">
      <h4 class="pb-2">{% translate "Abstract data types" %}</h4>
      {% for obj in data_types %}
      <div class="row mb-3">
        <a class="col-8 text-decoration-none" href="{{ obj.get_absolute_url }}">
          <div class="lh-1">{{ obj.title_en }}</div>
          {% if not LANGUAGE_CODE == 'en' %}
          <div class="text-12 text-secondary">
            {{ obj.title_ru }}
          </div>
          {% endif %}
        </a>
        <div class="col-4 d-flex justify-content-end">
          <div class="has-text rounded {% if obj.has_text %}active{% endif %}"></div>
          <div class="has-playground rounded ml-1 {% if obj.has_playground %}active{% endif %}"></div>
          <div class="has-implementation rounded ml-1 {% if obj.has_implementation %}active{% endif %}"></div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-sm-12 col-md-4">
      <h4 class="pb-2">{% translate "Algorithms" %}</h4>
      {% for obj in algorithms %}
      <div class="row mb-3">
        <a class="col-8 text-decoration-none" href="{{ obj.get_absolute_url }}">
          <div class="lh-1">{{ obj.title_en }}</div>
          {% if not LANGUAGE_CODE == 'en' %}
          <div class="text-12 text-secondary">
            {{ obj.title_ru }}
          </div>
          {% endif %}
        </a>
        <div class="col-4 d-flex justify-content-end">
          <div class="has-text rounded {% if obj.has_text %}active{% endif %}"></div>
          <div class="has-playground rounded ml-1 {% if obj.has_playground %}active{% endif %}"></div>
          <div class="has-implementation rounded ml-1 {% if obj.has_implementation %}active{% endif %}"></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-4 pt-4 text-secondary">
    {{ glossary.text|safe }}
  </div>

  <footer class="py-3 mt-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <b>TheCS.org</b>
        <small class="d-block text-muted">MIT License © 2020-{% now "Y" %}</small>
      </div>
    </div>
  </footer>

</div>
{% endblock %}
