{% load static %}

<!DOCTYPE html>
<html lang="en" class="triptych">
<head>
  <meta charset="UTF-8">
  <title>Preview</title>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/markdown-tabbed.css' %}">
  <link rel="stylesheet" href="{% static 'css/markdown-codehilite.css' %}">
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
</head>
<body class="text-container">

</body>
</html>
